aiohttp==3.8.4
aiosignal==1.3.1
amqp==5.1.1
ansible-runner==1.4.7
asgiref==3.5.2
astroid==2.4.2
async-timeout==4.0.2
attrs==23.1.0
billiard==3.6.4.0
celery==4.4.7
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
charset-normalizer==3.1.0
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.2.0
colorama==0.4.4
comtypes==1.1.7
dataclasses-json==0.5.7
Django==4.1.3
django-celery-beat==2.2.0
django-cors-headers==3.7.0
django-dotenv==1.4.2
django-postgres-copy==2.6.0
django-rest-framework==0.1.0
django-timezone-field==4.1.2
djangorestframework==3.12.4
djangorestframework-simplejwt==5.3.0
docutils==0.17
faiss-cpu==1.7.4
flower==0.9.7
frozenlist==1.3.3
greenlet==2.0.2
humanize==3.9.0
idna==2.10
isort==5.6.4
kombu==5.1.0
langchain==0.0.189
lazy-object-proxy==1.4.3
lockfile==0.12.2
marshmallow==3.19.0
marshmallow-enum==1.5.1
mccabe==0.6.1
multidict==6.0.4
mypy-extensions==1.0.0
mysqlclient==2.2.0
numexpr==2.8.4
numpy==1.20.3
openai==0.27.7
openapi-schema-pydantic==1.2.4
packaging==23.1
pandas==1.2.4
pexpect==4.8.0
Pillow==9.3.0
prometheus-client==0.8.0
prompt-toolkit==3.0.18
psutil==5.8.0
psycopg2==2.8.6
ptyprocess==0.7.0
py-zabbix==1.1.7
PyAudio @ file:///C:/python39/Scripts/PyAudio-0.2.11-cp39-cp39-win_amd64.whl
pycparser==2.20
pydantic==1.10.8
PyJWT==2.8.0
pylint==2.6.0
PyPDF2==3.0.1
pypiwin32==223
python-crontab==2.5.1
python-daemon==2.3.0
python-dateutil==2.8.1
pyttsx3==2.90
pytz==2021.1
pywin32==300
PyYAML==5.4.1
redis==3.5.3
regex==2023.6.3
requests==2.31.0
semantic-version==2.8.5
setuptools-rust==0.12.1
six==1.15.0
SpeechRecognition==3.8.1
SQLAlchemy==2.0.15
sqlparse==0.4.3
tenacity==8.2.2
tiktoken==0.4.0
toml==0.10.2
tornado==6.1
tqdm==4.65.0
typing-inspect==0.9.0
typing_extensions==4.6.3
tzdata==2022.6
urllib3==1.26.4
vine==5.0.0
wcwidth==0.2.5
wgconfig==0.2.2
wrapt==1.12.1
yarl==1.9.2
